<% for column in Type.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @type.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @type %> |
<%= link_to 'Back', :action => 'list' %>
