<% for column in UserGroup.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @user_group.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @user_group %> |
<%= link_to 'Back', :action => 'list' %>
