
<div class="tableborder">
  <div class="tableheader">链接管理</div>
  <div class="leftmenubody">
    <div class="leftmenuitem">&#8226; <%=link_to "添加链接",new_admin_link_path%></div>
    <div class="leftmenuitem">&#8226; <%=link_to "链接管理",admin_links_path%> </div>
    

  </div>
</div>

 