

﻿<div class="mainbody">
  <div class="navlink"><a href="/admin/index">控制面版</a> » 缓存管理</div>
</div>



<div class="mainbody">
  <table border="0"  cellspacing="0" cellpadding="0" style="width:100%;">
    
    <tr>
      <td valign="top" style="width:150px;">
        <%=render(:partial => "slider")%>   
      </td>
      
      <td valign="top" style="width:20px;"></td>
      <td valign="top">
        <div class="box">
          <div class="alert">缓存信息查看</div>
          <div class="alertmsg">
            缓存有利于提高系统的性能,如果您发现缓存的数据不是很准确,请使用"刷新缓存"予以刷新.
          </div>
        </div>
        <%=render(:partial => "items",:object=>$cached_configs)%>  
        
      </td>
    </tr>
  </table>
</div>

 

 
