<%= error_messages_for 'tag' %>

<!--[form:tag]-->
<p><label for="tag_title">Title</label><br/>
<%= text_field 'tag', 'title'  %></p>

<p><label for="tag_description">Description</label><br/>
<%= text_field 'tag', 'description'  %></p>
<!--[eoform:tag]-->

