
<div class="tableborder">
  <div class="tableheader">模板管理</div>
  <div class="leftmenubody">
    <div class="leftmenuitem">&#8226; <%=link_to "添加模板",new_admin_theme_path%></div>
    <div class="leftmenuitem">&#8226; <%=link_to "模板管理",list_admin_themes_path%> </div>
    

  </div>
</div>

 