
<div class="tableborder">
  <div class="tableheader">分类管理</div>
  <div class="leftmenubody">
    <div class="leftmenuitem">&#8226; <%=link_to "添加分类",new_admin_category_path%> </div>
    <div class="leftmenuitem">&#8226; <%=link_to "分类管理",admin_categories_path%> </div>
    
    
  </div>
</div>

 