
<% @topics.each do |topic| %>
  <%= render(:partial => "shared/common_entry",:object=>topic) %>
<% end %>


<div style="">
  <span class=”pagelink”>
    <%= will_paginate @topics %>
  </span>
</div>		
